body{background: #fafafa;}
.margin{width: 1000px;margin: 0 auto;}

header{height:156px;display: flex;align-items: center;}
main{}
main .margin{}
main .margin ul{display:flex;flex-wrap: wrap;width:100%}
main .margin ul li{width:200px;margin:15px;padding: 10px;cursor: pointer;}
main .margin ul li:hover{box-shadow:0 2px 10px 0 rgba(0,0,0,.25)} 
main .margin ul li:hover .box b{display: block;}
main .margin ul li .box{height:220px;width:200px;margin-bottom: 20px;position:relative;}
main .margin ul li .box img{height:220px;width:200px}
main .margin ul li .box b{position: absolute;top:0;bottom: 0;left: 0;right:0;background:rgba(255,255,255,.6);width:80px;font:12px/24px "";margin:auto;height:24px;text-align: center;display: none;}

 main .choice{display: flex;justify-content: space-between;margin-top: 20px;}
  main .listN h4, main .listN h5,main .listN .No{font:400 12px/24px ""}
  main .listN{position:relative}
  main .listN .car{position:absolute;height:30px;width:30px;bottom: 0;right:0;background: #0000FF;background: url(../img/d.png) -4px -370px;}
  main .listN .car:hover{background-position: -45px -399px;}
 main .choice .buy{border: 1px solid transparent;font:12px/28px "";background: #4CAE4C;cursor: pointer;outline: none;}
 main .choice .buy:hover{background: #008000;}

.addCart{border: 1px solid #ccc;background: #fff;color: #999;font:12px/24px "";align-self: flex-end;cursor: pointer;outline: none;}

.addCart:hover{border: 1px solid #000;color: #000;}



